.adminContainer {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: #222;
    color: white;
    border-radius: 10px;
    text-align: center;
}

.adminPanel {
    background: #333;
    padding: 15px;
    border-radius: 10px;
    margin: 20px 0;
}

.adminPanel input, .adminPanel button {
    width: 90%;
    padding: 10px;
    margin: 5px;
}

.viewOrders, .backToAdmin {
    display: inline-block;
    padding: 10px;
    background: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

#imagePreview {
    margin-top: 10px;
    max-width: 100px;
    display: none;
}

.adminProduct {
    display: flex;
    justify-content: space-between;
    background: #444;
    padding: 10px;
    margin-top: 5px;
}

.adminProduct button {
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.adminProduct button:first-of-type {
    background: orange;
}
